<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794857650603-argrfvs4f2vjvimeplohccgaquqe3666.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794857650603-argrfvs4f2vjvimeplohccgaquqe3666</string>
	<key>API_KEY</key>
	<string>AIzaSyCHFQM1wsmGYguLs3WzyYCQ3LQawG7dKzE</string>
	<key>GCM_SENDER_ID</key>
	<string>794857650603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pamapp.PolyAlarmApp</string>
	<key>PROJECT_ID</key>
	<string>polyalarm-7b63a</string>
	<key>STORAGE_BUCKET</key>
	<string>polyalarm-7b63a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794857650603:ios:63d4fb7f826ab8e952faee</string>
</dict>
</plist>